#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: auto;
}

#mainContainer h1{
    font-size: 5rem;
    color: rgb(70, 70, 70);
}

#mainContainer p{
    font-size: 1.5rem;
    margin: 0;
}

#modalCtn{
    margin-top: 25px;
}

#modalBtn{
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#cardCtn {
    margin-bottom: 100px;
}

.card {
    margin: 20px 0;
}

.dateStamp {
    float: left;
    font-size: 1.2rem;
}

.timeStamp {
    float: left;
}

#id_title, #id_text {
    width: 100%;
}

.stamp {
    float: left;
}